<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${evento.nombre}">[Nombre del Evento]</title>
    <link rel="stylesheet" th:href="@{/css/baile.css}">
</head>
<body>
    <div class="centrar">
        <noscript>
            <p style="text-align: center; color: red;">Este sitio requiere JavaScript para funcionar correctamente.</p>
        </noscript>

        <h1 th:text="${evento.nombre}">[Nombre del Evento]</h1>

        <div class="main-container">
            <div class="general izq">
                <h2 style="grid-column: 1 / -1; text-align: center;">General Izquierda</h2>
            </div>

            <div class="centro">
                <div class="titulos">
                    <p class="escenario" style="grid-column: 1 / -1; text-align: center; top: 0;">Escenario Musical</p>
                    <h2 style="grid-column: 1 / -1; text-align: center;"></h2>
                </div>

                <div class ="centro-mesas"></div>
            </div>

            <div class="general der">
                <h2 style="grid-column: 1 / -1; text-align: center;">General Derecha</h2>
            </div>

            <div class="footer">
                <div class="footer-izq">
                </div>
                <div class="footer-der">
                </div>
            </div>

            <button class = 'compra'>
                <span>comprar</span>
            </button>
        </div>

        <div class = "fondoCompra">
        </div>
        <div class="confirma-compra">
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        // Thymeleaf will automatically convert the 'evento' Java Map/Object into a JavaScript object.
        window.evento = /*[[${evento}]]*/ {}; // The '{}' is a default value if 'evento' is null or not found.
        /*]]>*/
    </script>
    <script th:src="@{/js/baile.js}"></script>
</body>
</html>